@model Core.Drink

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Удаление напитка</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <dl class="dl-horizontal">

                <dt>Название напитка</dt>

                <dd>@Html.DisplayFor(model => model.name)</dd>

                <dt>Цена</dt>

                <dd>@Html.DisplayFor(model => model.price)</dd>

            </dl>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <div class="modal-footer">
        <input type="submit" value="Удалить" class="btn btn-default" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
}

